{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "always",
    "tabWidth": 2,
    "bracketSameLine": true,
    "singleAttributePerLine": false,
    "parser": "typescript",
    "printWidth": 100,
    "editor.formatOnSave": true
}